<div id="pop-carousel" class="carousel slide" data-ride="carousel" data-interval="3000">
  <ol class="carousel-indicators">
    <li data-target="#pop-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#pop-carousel" data-slide-to="1" class=""></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <%= render 'iframe/iframe_image' %>
    </div>
    <div class="item">
      <%= render 'iframe/iframe_image' %>
    </div>
  </div>
  <a class="right carousel-control" href="#pop-carousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
