<% provide(:title, 'Home') %>
<div class="center jumbotron">
  <h1>MusicApp(仮)</h1>

  <h2>
    Youtube Iframe
    ここに動画表示（中央）


</div>



<div class="category">
  <div class="pickup">
    <h3 class="container bg-primary" >ピックアップ動画</h3><!--bootstrapのbg-xxxで背景色が変更-->
    <p>iframe</p>
  </div>

  <div class="cate1">
    <h3 class="container bg-success">ロック</h3>
    <p>iframe</p>
  </div>

  <div class="cate2">
    <h3 class="container bg-danger">ギターロック</h3>
    <p>iframe</p>
  </div>

  <div class="cate3">
    <h3 class="container bg-primary">ポストロック</h3>
    <p>iframe</p>
  </div>

  <div class="cate4">
    <h3 class="container bg-danger">プログレ</h3>
    <p>iframe</p>
  </div>

  <div class="cate5">
    <h3 class="container bg-primary">エモーショナル</h3>
    <p>iframe</p>
  </div>
</div>
