@import "bootstrap-sprockets";
@import "bootstrap";

/* package */
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* mixins, valiables, etc */
$light-gray: #777;
$gray-midium-light: #eaeaea;


body {
  padding-top: 70px;
  // padding-top: ページ上部にxxピクセルの余白を追加
  .default-height{
    padding-top: 70px;
  }
}

section {
  overflow: auto;
  // overflow: 要素のボックスからはみ出た部分をどう扱うか を指定
  // autoオプション: ブラウザにより表示が変わる（基本的にはスクロールできる状態に）
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* logo */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.search {

}



/* category */
.category {
  overflow: auto; //はみ出た部分をオートで整形
}


/* footer */
.footer{
  border-top :1px solid #ddd;
  margin-top: 40px;
}

.show-container {
  margin-top: 100px;
}


/* debug */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


/* form */
#error_explanation {
  color: red;
  ul {
    color : red;
    margin: 0 0 30px 0;
  }
}
