@import "bootstrap-sprockets";
@import "bootstrap";

/* package */
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

@mixin iframe_sort{
  float: left;
  width: 16%;
  margin: 0 10px;
  text-align: center;
  //white-spaceとoverflowの組み合わせで要素からはみ出て改行した文字を非表示
  white-space:nowrap;
  overflow:hidden;
}

@mixin title_color{
  font-size: 0.9em;
  letter-spacing: -1px;
  text-decoration: none;
    }
 @mixin title_color_hover{
   color: #fff;
   text-decoration: none;
 }


/* mixins, valiables, etc */
$light-gray: #777;
$gray-midium-light: #eaeaea;


body {
  padding-top: 70px;
  // padding-top: ページ上部にxxピクセルの余白を追加
}

section {
  overflow: auto;
  // overflow: 要素のボックスからはみ出た部分をどう扱うか を指定
  // autoオプション: ブラウザにより表示が変わる（基本的にはスクロールできる状態に）
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* logo */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.search {

}

// video/index
.container{
  .bg-success{
    width: auto;
  }
  .bg-primary{
    width: auto;
  }
  .bg-danger{
    width: auto;
  }
}

/* category in iframe */
.category{
    .video-lists {
      height: 250px;
      overflow: scroll;
    }
    .video-list{
      float: left;
      width: 16%;
      margin: 0 10px;
      text-align: center;
      //white-spaceとoverflowの組み合わせで要素からはみ出て改行した文字を非表示
      white-space:nowrap;
      overflow:hidden;
    }
}

/* footer */
.footer{
  border-top :1px solid #ddd;
  // position: fixed;
  // width: 90%;
}

//showコンテンツ
.show-container {
  margin-top: 20px;
}
.show-container h1 h2{
  font-family: "Hiragino Kaku Gothic ProN", sans-serif;
  font-size: 14px;
  line-height: 2px;
  letter-spacing: normal;
}

/* debug */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


/* form */
#error_explanation {
  color: red;
  ul {
    color : red;
    margin: 0 0 30px 0;
  }
}

.alert-nav {
  margin-top: 30px;
  height: 50px;
}

//コメントフォーム・コメント一覧
legend{
  text-align: center;
}

.comments {
  overflow: hidden;
  form{
    width:1200px;
  }
}

.comment1{
  width: 50%;
  float: left;
}

.comment2 {
  width: 500px;
  float: right;
  margin-top: 20px;
}
//ここまでコメント

.btn-primary {
  a {
    color: white;
  }
}

// categories/show
.categories_list{
  height: 250px;
  // overflow: scroll;
  .categories{
    float: left;
    width: 16%;
    margin: 0 10px;
    text-align: center;
    //white-spaceとoverflowの組み合わせで要素からはみ出て改行した文字を非表示
    white-space:nowrap;
    overflow:hidden;
  }
}

// //カルーセル設定
// #vc-carousel0{
//   .carousel-control.right {
//     background-image: none;
//       }
//   .carousel-control{
//     color: #2793e6;
//      }
//     }
// #vc-carousel1{
//   .carousel-control.right {
//     background-image: none;
//     }
//   .carousel-control{
//      color: #2793e6;
//    }
//   }
//
// #vc-carousel2{
//   .carousel-control.right {
//     background-image: none;
//       }
//   .carousel-control{
//     color: #2793e6;
//      }
//     }
//
// #vc-carousel3{
//   .carousel-control.right {
//     background-image: none;
//       }
//   .carousel-control{
//     color: #2793e6;
//         }
//     }
//
// #vc-carousel4{
//   .carousel-control.right {
//     background-image: none;
//       }
//   .carousel-control{
//     color: #2793e6;
//       }
//     }
//
// #vc-carousel5{
//   .carousel-control.right {
//     background-image: none;
//       }
//   .carousel-control{
//     color: #2793e6;
//       }
//     }
//
// #vc-carousel6{
//   .carousel-control.right {
//     background-image: none;
//       }
//   .carousel-control{
//     color: #2793e6;
//       }
//     }


/*indexのカテゴリー一覧　タイトルカラー*/
.cate{
     .cate-title0 a{
       @include title_color;
     }
     .cate-title0 a:hover {
       @include title_color_hover;
     }
     .cate-title1 a{
       @include title_color;
     }
     .cate-title1 a:hover {
       @include title_color_hover;
     }
     .cate-title2 a{
       @include title_color;
     }
     .cate-title2 a:hover {
       @include title_color_hover;
     }
     .cate-title3 a{
       @include title_color;
     }
     .cate-title3 a:hover {
       @include title_color_hover;
     }
     .cate-title4 a{
       @include title_color;
     }
     .cate-title4 a:hover {
       @include title_color_hover;
     }
     .cate-title5 a{
       @include title_color;
     }
     .cate-title5 a:hover {
       @include title_color_hover;
     }
     .cate-title6 a{
       @include title_color;
     }
     .cate-title6 a:hover {
       @include title_color_hover;
     }
    .cate0{
      .bg-danger{
     }}

    .cate1{
      .bg-danger{
        background-color:#37be77;
     }}

    .cate2{
      .bg-danger{
        background-color:#e2e787;
     }}

    .cate3{
      .bg-danger{
       background-color: darken(#428bca, 6.5%);
     }}

    .cate4{
     .bg-danger{
     }}

    .cate5{
     .bg-danger{
      background-color :#ffc107!important;
       }}

    .cate6{
      .bg-danger{
      background-color :#18b7d2;
       }}

      //カルーセル設定
      #vc-carousel0{
         .carousel-control.right {
           background-image: none;
             }
         .carousel-control{
           color: #2793e6;
            }
           }
       #vc-carousel1{
         .carousel-control.right {
           background-image: none;
           }
         .carousel-control{
            color: #2793e6;
          }
         }

       #vc-carousel2{
         .carousel-control.right {
           background-image: none;
             }
         .carousel-control{
           color: #2793e6;
            }
           }

       #vc-carousel3{
         .carousel-control.right {
           background-image: none;
             }
         .carousel-control{
           color: #2793e6;
               }
           }

       #vc-carousel4{
         .carousel-control.right {
           background-image: none;
             }
         .carousel-control{
           color: #2793e6;
             }
           }

       #vc-carousel5{
         .carousel-control.right {
           background-image: none;
             }
         .carousel-control{
           color: #2793e6;
             }
           }

       #vc-carousel6{
         .carousel-control.right {
           background-image: none;
             }
         .carousel-control{
           color: #2793e6;
             }
           }
   }
/*ここまでindexのカテゴリー一覧　タイトルカラー*/



.carousel{
   width:100%;  /*サイズ指定*/
   margin:auto;
}
.carousel img{
   width:100%;
}
