@import "bootstrap-sprockets";
@import "bootstrap";

/* logo */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

.search {
  
}

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto; //はみ出た部分をオートで整形
}

textarea {
  resize: vertical;
}

.center {
  text-align: center; //これ必要か怪しい
}


/* category */
.category {
  overflow: auto; //はみ出た部分をオートで整形
}


/* footer */
.footer{
  border-top :1px solid #ddd;
  margin-top: 40px;
}
