<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to "問い合わせ" '#' %></li>
      <li><%= link_to "ホーム", root_path %></li>
      <li><%= link_to "カテゴリー", '#' %></li>
      <li><%= link_to "動画追加フォーム（今だけ）", new_video_path %></li>
    </ul>
  </nav>
</footer>
